body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}
.suptitle-left {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */

  text-align: right;
  letter-spacing: 7.33333px;
  text-transform: uppercase;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}
