// @import "../../node_modules/normalize.css/normalize";
// @import "../../node_modules/slick-carousel/slick/slick";
// @import "../../node_modules/magnific-popup/dist/magnific-popup";
@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
}
.header__slider {
  &-item {
    height: 100vh;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
}

@import "media";
